<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946586277339-ul9pl0d2bgmi5i1pkp5sb706n6dd2lju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946586277339-ul9pl0d2bgmi5i1pkp5sb706n6dd2lju</string>
	<key>API_KEY</key>
	<string>AIzaSyBYyKm688RVHQANn4C6xm5MvE4kExFDVE0</string>
	<key>GCM_SENDER_ID</key>
	<string>946586277339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.julia.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-254bf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-254bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946586277339:ios:21d4bb83508177d83243fe</string>
</dict>
</plist>